/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, sans-serif;
}

.input-search:focus{
  outline: none;
    
}

.btn-gradient {
    @apply w-full p-4 text-white font-medium rounded-lg relative overflow-hidden;
  }
  
  .btn-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #1A2B2B 0%, #2AA5A0 100%);
    transition: opacity 0.7s ease-in-out;
    opacity: 1;
    z-index: 0;
  }
  
  .btn-gradient::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(315deg, #1A2B2B 0%, #2AA5A0 100%);
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
    z-index: 0;
  }
  
  .btn-gradient span {
    position: relative;
    z-index: 1; /* texte au dessus du gradient */
  }
  
  .btn-gradient:hover::before {
    opacity: 0;
  }
  
  .btn-gradient:hover::after {
    opacity: 1;
  }
  